<!DOCTYPE html>
<html>
<head>
  	<title>Qumbia</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

</head>

<body>
	<div class="navbar-wrapper">
		<nav>
			<div class="content">
				<ul>
					<li class="action-item"><a href="#top"><p>QUMBIA</p></a></li>
					<li><p><%= link_to "newsfeed",questions_path %></p></li>
					<li><p><%= link_to "ask a question", new_question_path %></p></li>
				</ul>
				<ul class="right">
					<li><a href="#"><p>sign up</p></a></li>
					<li><a href="#"><p>log in</p></a></li>
                    <li><a href="#"><p>help</p></a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="jumbotron">
		<div class="content">
			<h1> Qumbia </h1>
			<div>
			  	<h3> Quora for Columbia </h3>
			</div>
		</div>
	</div>

<%= yield %>

</body>
</html>
