<!DOCTYPE html>
<html>
<head>
	<title>ASK ALMA</title>
	<%= stylesheet_link_tag 'welcome' %>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i" rel="stylesheet">
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="jumbotron">
		<div class="content">
			<h1><i>AskAlma</i></h1>
            
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
        </div>

		<div class="sign-in-up">
			<ul class="tabs">
				<li class="tab active"><a href="#login">Log In</a></li>
				<li class="tab"><a href="#signup">Sign Up</a></li>
			</ul>

			<div class="tab-forms">
				<div id="login">
					<h3>Welcome back!</h3>
					<%= render "users/sessions/new" %>
					<%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
				</div>
				
				<div id="signup">
					<h3>Sign up with your Columbia email.</h3>
					<%= render "users/registrations/new" %>
				</div>
			</div>
		</div>
	</div>
</body>

<%= javascript_include_tag 'welcome' %>
</html>