<!DOCTYPE html>
<html>
<head>
	<title>ASK ALMA</title>
	<%= stylesheet_link_tag 'welcome' %>
	<%= stylesheet_link_tag 'welcome', 'http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' %>
	<%= javascript_include_tag 'welcome', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="jumbotron">
		<div class="content">
			<h1>Welcome to Ask Alma.</h1>
		</div>
	</div>

	<div class="content">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

		<p>Please log in or register!</p>
		<div class="sign-in-up">
			<div class="sign-in">
				<%= render "users/sessions/new" %>
			</div>
			
			<div class="sign-up">
				<%= render "users/registrations/new" %>
			</div>
		</div>
	</div>	
</body>
</html>